---
import Mail from './icons/Mail.astro';

// Lenguajes y tecnologías principales
const skills = [
    "PHP/Laravel", "Python/Django", "JavaScript", "MySQL", "MariaDB", 
    "SQLite", "Tailwind CSS", "Bootstrap", "Git", "FastAPI"
];
---
<div class="max-w-4xl mx-auto">
    <h2 class="text-4xl md:text-5xl font-bold text-center text-gray-900 dark:text-white mb-16">
        Sobre mí
    </h2>

    <div class="grid md:grid-cols-2 gap-12 items-center">
    </div>

    <div class="space-y-4">
        <p class="text-md text-gray-600 dark:text-gray-300 leading-relaxed">
            ¡Hola! Me llamo Nicolás Pavez y soy un ingeniero junior.
            Empecé hace poco mi carrera profesional y he estado trabajando en pequeños proyectos que abarcan desde el desarrollo web hasta la analítica de datos.
        </p>

        <p class="text-md text-gray-600 dark:text-gray-300 leading-relaxed">
        Actualmente estoy trabajando como Analista de Sistemas Informáticos, enfocándome en el desarrollo de sistemas empresariales y soluciones tecnológicas integrales.
        Me apasiona mucho aprender y busco oportunidades para crecer y desarrollarme profesionalmente.
        Me considero una persona proactiva, disciplinado, apasionada, perseverante, dinámica y flexible. Me gusta enfrentar nuevos desafíos y encontrar soluciones creativas a los problemas,
        pero sobre todo, disfruto entregar productos que sorprendan y entreguen valor real a los usuarios y clientes.
        </p>

        <div class="space-y-4">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Tecnologías con las que he trabajado:</h3>
            <div class="flex flex-wrap gap-2">
                {skills.map((skill) => (
                    <span class="px-3 py-1 bg-gray-100 dark:bg-gray-800 text-gray-700 dark:text-gray-300 rounded-lg text-sm">
                        {skill}
                    </span>
                ))}
            </div>
        </div>

        <div class="flex gap-4 mt-16 items-center justify-center">
            <a href="mailto:nicolas.ipp14@gmail.com" class="flex items-center gap-1 px-4 py-2 bg-blue-600 dark:bg-white hover:bg-neutral-950 dark:hover:bg-blue-600 dark:hover:text-white text-white dark:text-neutral-950 rounded-2xl">
                <Mail/>
                <span>Contáctame</span>
            </a>
        </div>
    </div>
</div>