---
import SideBar from './SideNavBar.astro';
import ThemeToggle from './ThemeToggle.astro';
---
<header>
        <div class="flex justify-end">
                <ThemeToggle />
        </div>
        <SideBar />
</header>