---
import SideBar from './SideNavBar.astro';
import ThemeToggle from './ThemeToggle.astro';
---
<header class="flex justify-between items-center py-8">
        <div class="flex justify-end">
                <ThemeToggle />
        </div>
        <SideBar />
</header>